/*Navegacion header*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagenes/covid5.jpeg);
    font-family: 'Patrick Hand', cursive;
    
}
a{
    color:#000;
    text-decoration: none;
}

nav ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    z-index: 2;
    font-size: 30px;
    display: none;
}


/*Menu Style*/

.menu-main{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: rgba(200, 223, 250, 0.719);
    border-radius: 5px;
}
.menu-icon{
    width: 70px;
}
.icon-title{
    display: flex;
    background-color: rgb(93, 120, 194);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
    padding-top:  8px;
    padding-right: 10px;
}


/*right navigation*/
.menu-main ul{
    display: flex;

}
.menu-main ul li{
    padding: 0 15px;
}

.menu-main ul li a:hover{
    background-color: rgb(220, 233, 252);
    border-radius: 5px;
}
.topic-menu{
    flex: 1;
}
/*BOTTOM-NAV*/
.move-container{
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 20px 0;
        margin: 20px;
}
.move-container ul{
    display: flex;
    background-color: rgba(23, 11, 44, 0.726);
    border-radius: 10%;
}

.move-container ul li a:hover{
    background-color: rgb(16, 5, 43);
    border-radius: 100%;
}
.move-container li{
    padding: 10px;
}
.move-container li a{
    color: rgb(226, 224, 224);;
    padding-left: 10px;
    padding-right: 10px;
}

.move-container li .menuboton{
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;

}
.coments-section{
    background-color: rgba(255, 255, 255, 0.911);
    width: 70%;
    margin: auto;
}
@media (max-width: 850px) {
    .menu-main .topic-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(23, 11, 44, 0.534);
        height: 100%;
        padding: 30px;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .menu-main .topic-menu.show{
        transform: translateX(-20px);
    }
    .menu-main .topic-menu a{
        color: white;

    }
    .menu-btn{
        display: block;
        right: 50px;
    }
    .menu-main .right-menu{
        margin-right: 35px ;
    }
    .menu-main .topic-menu a:hover{
        background-color: rgb(16, 5, 43);
    }

    
}
@media (max-width: 500px) {
    .menu-main .right-menu{
        margin-right: 50px ;
    }

    
}
