/*Navegacion header*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagenes/covid5.jpeg);
    background-color: rgb(29, 27, 27);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Patrick Hand', cursive;
    
}
a{
    color:#000;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}


/*Menu Style*/

.menu-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: rgba(200, 223, 250, 0.719);
    border-radius: 5px;
}
.menu-icon{
    width: 70px;
}
.icon-title{
    display: flex;
    background-color: rgb(93, 120, 194);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.title{
    padding-top:  8px;
    padding-right: 10px;
}


/*right navigation*/
.menu-main ul{
    display: flex;

}
.menu-main ul li{
    padding: 0 15px;
}

.menu-main ul li a:hover{
    background-color: rgb(220, 233, 252);
    border-radius: 5px;
}
.topic-menu{
    flex: 1;
}

/*TOPIC BANNER*/

.topic-banner{
    color: rgb(226, 224, 224);
    margin-top: 10px;
    height: 600px;
    /*background: url(imagenes/Sistema.jpg) no-repeat center center/cover;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
.topic-banner h2{
    padding-bottom: 80px;
    font-size: 90px;
    
}
.topic-banner p{
    padding-bottom: 20px;
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color:rgba(150, 93, 93, 0.377);
    border-radius: 10px;
}

.boton:hover{
    color: rgb(226, 224, 224);
    background-color: rgb(16, 5, 43);
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    z-index: 2;
    font-size: 30px;
    display: none;

}

/*ARTICLES*/

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 10px;
    height: auto;
}
.article-img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.articles .intro {
    background-color: rgb(22, 9, 41);
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
    opacity: 0.85;
}
.articles .intro:hover{
    opacity: 1;
}

.intro a{
    color: rgb(226, 224, 224);
}

/*NOSOTROS*/
.nosotros{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 35px;
    text-align: center;
    background-color: rgba(23, 11, 44, 0.726);
    border-radius: 5px;

}

.nosotros h3{
    color: #fff;
    padding-bottom: 5px;
    font-size: 30px;
}

.container-us-up{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
    height: auto;
    justify-items: center;
}
.container-us-down{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 25px;
    height: auto;
    justify-items: center;
}

.character-up{
    color: rgb(226, 224, 224);
    background-color: rgb(16, 5, 43);
    border-radius: 5px;
    width: 70%;
    height: 330px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.character-down{
    color: rgb(226, 224, 224);
    background-color: rgb(16, 5, 43);
    border-radius: 5px;
    width: 46%;
    height: 330px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-us{
    border-radius: 50%;
    height: 250px;
    width: 87%;

}
footer{
    color: rgb(226, 224, 224);;
}

@media (max-width: 850px) {
    .menu-main .topic-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(23, 11, 44, 0.534);
        height: 100%;
        padding: 30px;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .menu-main .topic-menu.show{
        transform: translateX(-20px);
    }
    .menu-main .topic-menu a{
        color: white;

    }
    .menu-btn{
        display: block;
        right: 50px;
    }
    .menu-main .right-menu{
        margin-right: 35px ;
    }
    .menu-main .topic-menu a:hover{
        background-color: rgb(16, 5, 43);
    }
    .articles{
        grid-template-columns: 1fr 1fr;
    }
    .container-us-up{
        grid-template-columns: 1fr 1fr;
    }
    .character-down{
        width: 70%;
    }
    .character-up{
        width: 80%;
    }
    .topic-banner{
        padding: 20px;
    }
    
}
@media (max-width: 500px) {
    .articles{
        grid-template-columns: 1fr;
    }
    .container-us-up{
        grid-template-columns: 1fr;
    }
    .container-us-down{
        grid-template-columns: 1fr;
    }
    .character-down{
        width: 100%;
    }
    .character-up{
        width: 100%;
    }
    .topic-banner{
        padding: 20px;
    }
    .topic-banner h2{
        font-size: 60px;
    }
    .menu-main .right-menu{
        margin-right: 50px ;
    }

    
}
